*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@font-face {

    font-family:"Lato-Black" ;
    src: url(../src//Fonts/Lato-Black.ttf);
  }
  @font-face {
    font-family: "Lato-Light";
    src: url(../src/Fonts/Lato-Light.ttf);
  }
  @font-face {
    font-family: "Lato-Regular";
    src: url(../src/Fonts/Lato-Regular.ttf);
  }

:root{
    --nav-link-color-light:red;
    --nav-link-color-dark:green;

    --bg-light : #FFFFFF;
    --bg-dark: #000000;
}
.light {
    --nav-link-color: var(--nav-link-color-light);
    --bg-color : var(--bg-light);
}
.dark{
    --nav-link-color: var(--nav-link-color-dark);
    --bg-color: var(--bg-dark);
}